<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="3" name="default suite">

    <!-- CHROME -->
<!--    <test name="chrome test">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="fr.zenity.academy.stepDefinitions.ExperienceStep"/>
        </classes>
    </test>-->
</suite>
